@import "tailwindcss";

@layer base {
  html,
  body {
    @apply m-0 p-0 font-sans bg-gray-50 text-gray-900 dark:bg-gray-800 dark:text-white;
  }
}

@layer utilities {
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(150%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 3.8s step-end infinite;
  }
}
